<?xml version="1.0"?>
<configuration>
  <!--Para que jale los ultimos javascripts-->
  <appSettings>
    <add key="VersionNumber" value="06032014"/>
  </appSettings>
  <!--<appSettings/>-->
  <connectionStrings>
    <add name="ConexionAzure" connectionString="Server=tcp:lakefact.database.windows.net,1433;Initial Catalog=lakebd;Persist Security Info=False;User ID=juanmcv;Password=Norecuerdo1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <!--<add name="ConexionAzure" connectionString="Data Source=CRICPPCOMITHBD1,3311;Initial Catalog=lakebd;Persist Security Info=True;User ID=SA;Password=Gersonvr15"/>-->
  </connectionStrings>
 
  <system.web>
    <compilation targetFramework="4.5.2"/>
    <authentication mode="Windows"/>   
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CR" uiCulture="es-CR" />
  </system.web>




</configuration>